.content {
  padding: $content-padding-top 0 $content-padding-bottom;

  display: grid;
  grid-template-columns: repeat(4, $columns-width);
  justify-content: center;
  gap: 48px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $columns-width);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $columns-width);
  }

  @media (max-width: 487px) {
    grid-template-columns: $columns-width;
  }
}
